/*закладка*/
#bar {
     top: -90px; right:1%;/*ПОЛОЖЕНИЕ*/
     padding:1%;/*ПОЛЯ*/
     margin: 0;/*ОТСТУП*/
     position: absolute;/*АПСОЛЮТНОЕ ПОЗИЦИОНИРОВАНИЕ*/
     width: 1%;/*ШИРИНА*/
     background: #b21c16;/*ЦВЕТ ФОНА*/
     color: #e4e2ff;/*ЦВЕТ ТЕКСТА*/
     text-align: center;/*ВЫРАВНИВАНИЕ ПО ЦЕНТРУ*/
     transition: top 1s ease-out 0.5s;/*Переход*/
     transition-duration: 1s;/*Длительность анимации*/
 }
#bar:hover {
    top: 5px; /*При наведении курсорв*/
}
.warn {
    padding: 1%;
    border-radius: 1%;
    text-align: center;
    transition-duration: 5s;
}
.warn:hover {
    background: #fc0;
}
.warn {
    background: #fc0;
    padding: 1%;
    top: -50%;
    position: absolute;/*Абсолютное позиционирование*/
    left:0;right: 0;
}
.fadeInTop{
    animation-name: fadeInTop ;/*Имя для вызова функции*/
    animation-duration: 1s;/*Продолжительность анимации*/
    animation-delay: 0.5s;/*Задержка*/
    animation-fill-mode: forwards;/*Остановка после конца анимации*/
}
@keyframes fadeInTop {
    /*Правило @keyframes устанавливает ключивые
      кадры при анимации элемента.from*/
    from{
        top: -50%;
    }
    to {
        top:0;
    }
}
.menu{
    position: absolute;
    height: 50px;width: 100%;
    background: #22ff3a;
    border-bottom: 10px solid #1618ff;
    top: -50px;
    /*Анимация*/
    transition-property: top;
    /*Установка имя стилевого свойства*/
    transition-duration: 2s;
    /*длительность анимации*/
}
.menu:hover{
    top:0;
}
body {
    margin: 0;
    background: #f4ede5;
}
/*---------------------------------------------------------------------------------------*/
/*animation*/
/*
div {
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
span {
    display: block;
    position: absolute;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .4);
    animation: run 2s infinite ease-in-out ;
}
.one{
    background: #F3b222;
    animation-delay: 1.5s;
}
.two{
    background: #f0653e;
    animation-delay: 1s;
}
.three{
    background: #b9c0c0;
    animation-delay: 0.5s;
}
.four{
    background: #8f7473;
}

@keyframes run {
    0% {
        transform: translate(0%);
        border-radius: 50%;
    }
    25%{transform: translate(150%) scale(0.5);
        border-radius: 0;
}
    50% {
        transform: translate(150%, 150%);
        border-radius: 50%;
    }
    75% {
        transform: translate(0%, 150%) scale(0.5);
        border-radius: 0;
    }
}
*/
/*---------------------------------------------------------------------------------*/
/*часики*/
/*body {
    margin: 0;
    background-color: white ;
    background-image:
            radial-gradient(#ffae38 2px, transparent 3px);
    background-size: 20px 20px;
}
.container {
    height: 200px;
    width: 200px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}
.clock {
    background: #7e8c93;
    border-radius: 50px;
    box-shadow:  6px 6px 6px #6d797e;
    height: 200px;
    width: 200px;
    position: relative;
}
.clock-inner {
    background: #f9f9f9;
    border-radius: 30%;
    width: 160px;
    height: 160px;
    position: absolute;
    left: calc(50% - 80px);
    top: calc(50% - 80px);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.88),
    inset -2px -2px 4px rgba(0, 0, 0, 0.69);
}
.clock-rumbers {
    padding-left: 0;
    height: 120px;
    width: 120px;
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 60px);
    list-style: none;
    margin: 0;
}
.clock-rumbers li {
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin: -10px;
    position: absolute;
    text-align: center;
    font-family: "Special Elite",cursive;
    text-shadow: 1px 1px 2px rgba(0,0,0,.3);
    color: #544e3e;
    font-weight: bold ;
}
.clock-rumbers li:nth-child(1) {
    left: 50%;
    top: 0;
}
.clock-rumbers li:nth-child(2) {
    right: 0;
    top: 50%;
}
.clock-rumbers li:nth-child(3) {
    bottom: 0;
    left: 50%;
}
.clock-rumbers li:nth-child(4) {
    left: 0;
    top: 50%;
}
.clock-minutes {
    height: 60px;
    width: 2px;
    background: #d56851;
    border-radius: 2px;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 1px);
    transform-origin:  1px 60px;
    animation: clock 60s steps(60, end) infinite;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}
.clock:hover .clock-minutes {
    animation-play-state: paused;
}
.clock-minutes:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #d56851;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    top: calc(100% - 4px);
    left: calc(100% - 5px);
}
@keyframes clock {
   from {
       transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
    }
}
h3 {
    text-align: center;
    font-family: "Special Elite", cursive;
    text-transform: uppercase;
    margin-top: 30px;
}*/
/*--------------------------------------------------------------------------------------------------------------*/
